<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

    <input type="text" (keyup)="getRealWord($event)" id="lname" name="lname" placeholder="" [value]="inputText" [type]="inputype" [disabled]="isDisable">
    <br>
    <button (click)="enableInput()" title="Habilitar o input">Habilitar</button>
    <button (click)="disableInput()">Desabilitar</button>
    <br>
    <button (click)="setPasswordInput()">Hash</button>
    <button (click)="setTextInput()">Plane Text</button>
  

</body>
</html>